@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
}
.carouselExampleControls{
  width: 100%;
}
.navbar{
    padding: 10px;
}

.carousel-item img{
  height: 75vh;
}
.carousel-inner{
  padding-left: 70px;
}
.carousel-item h1{
  color: #27ccbc;
  font-weight: 600;
}
.carousel-item p{
  font-size: 20px;
}
.main-header{
  padding: 10px 50px 10px 50px;
}
.nav-item a{
  font-weight: 600;
}
.logInBtn{
  background-color: #FEF0EE;
  padding: 0 20px 0 20px;
  border-radius: 6px;
}
.signUpBtn{
  background-color: rgb(254,112,88);
  padding: 0 20px 0 20px;
  border-radius: 6px;
}
.carousel-item h1 span{
  color: #ff136f;
}
.price {
  color: #ff136f;
}
.new-button {
  background-color: transparent;
  color: rgb(254,112,88);
  border-radius: 8px;
  padding: 10px 20px 10px 20px !important;
  border: none;
  text-align: center !important;
  max-width: 200px;
}
.tt-button{
  background-color: transparent;
  color: rgb(254,112,88);
  border-radius: 8px;
  padding: 10px 20px 10px 20px !important;
  border: 2px solid rgb(254,112,88);
  text-align: center !important;
  max-width: 200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.tt-button:hover{
  background-color: tomato;
  color: white;
}
.sub{
  font-size: 15px;
  font-weight: 400;
  opacity: 60%;
  margin: 0;
}
.sub span{
  display: block;
}
.tuitor h1 span{
  color: #27ccbc;
}
/* top tutor Card Items */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tutor-card img {
  width: 100% !important;
  border-radius: 6px;
}
.tt{
  text-align: left !important;
}
.tt h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.tt p{
  font-family: 'Open Sans', sans-serif;
}
.tutor-card {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  height: 600px;
  max-height: 700px;
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 8px;
  padding: 20px;
  text-align: center !important;
}
.tutor-card-body{
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
}
/* Vision Card Items */
.vision {
  text-align: center;
  padding: 10px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vision img {
  width: 100px;
}
.vision h1 span{
  color: #27ccbc;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 8px;
}
/* Our Platforms */
.platforms {
  text-align: center;
  padding: 10px;
}
.platforms img {
  width: 50%;
}
/* About Us */
.about {
  text-align: center;
  padding: 10px;
  margin-bottom: 150px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about img {
  width: 200px;
  height: 200px;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 8px;
}
/* Footer */
/* Group Study */
.create-group-study {
  background-color: #27ccbc;
  color: white;
  border-radius: 8px;
  padding: 50px;
}
.group-study span {
  color: orange;
}
.post-everything {
  padding: 20px;
}


/* login page */
.loginInput{
  max-width: 450px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #EDF3FD;
}
.list-unstyled {
  padding-left: 0;
	list-style: none;
}
.list-unstyled > li {
	display: inline-block;
}
.loginSignInBtn{
  padding: 10px 50px 10px 50px;
  background-color: rgb(254,112,88);
  text-decoration: none;
  color: white;
  border-radius: 6px;
}
.loginSignInBtn:hover{
  background-color: transparent;
  color: rgb(254,112,88);
}
.loginForgetBtn{
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: rgb(254,112,88);
}
.loginForgetBtn:hover{
  background-color:rgb(254,240,238);
  color: rgb(254,112,88);
  border-radius: 6px;
}
.login{
  margin-top: 150px !important;
  margin-bottom: 150px;
}
.login p{
  margin-bottom: 0;
}
.login p span{
  color: red !important;
}

/* signup */

.signUpInput{
  width: 450px;
  max-width: 650px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #EDF3FD;
}
.signupDropDon{
  width: 450px;
  max-width: 650px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid #EDF3FD;
}
.end-text{
  width: 450px;
}
.signUp p span{
  color: red;
}
.signUp p{
  margin-bottom: 0;
}